.Basket__header {
  background-color: rgb(53, 54, 85);
  display: flex;
  padding: 23px 0px 23px 100px;
}
.back {
  position: absolute;
  left: 30px;
  top: 25px;
  padding: 10px;
  padding-left: 15px;
  color: white;
}
.back:hover {
  background-color: rgb(97, 97, 124);
  border-radius: 50px;
  transition: ease 0.5s;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
.back{
    position: absolute;
    left: 20px;
    top: 16.5px;
    padding: 10px;
}
}